<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [3]:
# Summarize the dataset

print("Dataset Summary:")
print(df.info())

Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here

# Summarize the dataset by displaying column data types
print("Column Data Types:")
print(df.dtypes)

Column Data Types:
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

In [5]:
# Summarize the dataset by displaying counts and missing values

print("Dataset Summary - Counts and Missing Values:")
print(df.isnull().sum())

Dataset Summary - Counts and Missing Values:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [6]:
# Write your code here

# Generate basic statistics for numerical columns
print("Basic Statistics for Numerical Columns:")
print(df.describe())

Basic Statistics for Numerical Columns:
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

In [7]:
# Generate basic statistics for numerical columns

df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [8]:
# Write your code here

# Identify inconsistent or irrelevant entries in the 'Country' column
print("Unique values in 'Country' column:")
print(df['Country'].unique())

Unique values in 'Country' column:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [9]:
# Optional: Check value counts to identify less frequent or potentially problematic entries

print("\nValue counts in 'Country' column:")
print(df['Country'].value_counts())

Value counts in 'Country' column:
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [10]:
## Write your code here


# Example: Standardize 'Country' column
country_mapping = {
    'USA': 'United States',
    'U.S.A.': 'United States',
    'United Stated': 'United States',  # Example typo
    'UK': 'United Kingdom',
    'England': 'United Kingdom', # Example if needed.
    # Add more mappings as needed based on your dataset
}

df['Country'] = df['Country'].replace(country_mapping)

# Example: Standardize 'EdLevel' column
edlevel_mapping = {
    'Bachelor’s degree (BA, BS, B.Eng., etc.)': 'Bachelor\'s degree',
    'Master’s degree (MA, MS, M.Eng., MBA, etc.)': 'Master\'s degree',
    'Some college/university study without earning a degree': 'Some college/university',
    'Associate degree': 'Associate degree',
    'Professional degree (JD, MD, etc.)': 'Professional degree',
    'Other doctoral degree (Ph.D., Ed.D., etc.)': 'Doctoral degree',
    'Primary/elementary school': 'Primary school',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'Secondary school',
    'I never completed any formal education': 'No formal education'
    # Add more mappings as needed
}

# Verify the changes
print("Unique values in 'Country' after standardization:")
print(df['Country'].unique())

Unique values in 'Country' after standardization:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [11]:
# Standardize entries in columns like EdLevel by mapping inconsistent values to a consistent format.
#

df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Verify the changes
print("\nUnique values in 'EdLevel' after standardization:")
print(df['EdLevel'].unique())

Unique values in 'EdLevel' after standardization:
['Primary school' 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university' 'Secondary school'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [12]:
## Write your code here

# One-hot encode the 'Employment' column
df_encoded = pd.get_dummies(df, columns=['Employment'])

# Display the encoded DataFrame (first few columns)
print(df_encoded.iloc[:, :20].head())  # Displaying a limited number of columns for brevity

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                           EdLevel  \
0                                   Primary school
1     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3                          Some college/university
4                                 Secondary school

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc YearsCode YearsCodePro  \
0                                                NaN       NaN          NaN
1  API document(s) and/or SDK document(s);User gu...        20           17
2  API document(s) and/or SDK document(s);User gu...        37           27
3                                                NaN         4          NaN
4  API document(s) and/or SDK document(s);User gu...         9          NaN

                 DevType OrgSize PurchaseInfluence BuyNewTool BuildvsBuy  \
0                    NaN     NaN               NaN        NaN        NaN
1  Developer, full-stack     NaN               NaN        NaN        NaN
2   Developer Experience     NaN               NaN        NaN        NaN
3  Developer, full-stack     NaN               NaN        NaN        NaN
4  Developer, full-stack     NaN               NaN        NaN        NaN

  TechEndorse                                            Country Currency
0         NaN                           United States of America      NaN
1         NaN  United Kingdom of Great Britain and Northern I...      NaN
2         NaN  United Kingdom of Great Britain and Northern I...      NaN
3         NaN                                             Canada      NaN
4         NaN                                             Norway      NaN

In [13]:
# Display the encoded DataFrame (first few columns)
#
df_encoded.iloc[:, :20].head()

,ResponseId,MainBranch,Age,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency
0,1,I am a developer by profession,Under 18 years old,Remote,Apples,Hobby,Primary school,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,NaN
1,2,I am a developer by profession,35-44 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,20,17,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN
2,3,I am a developer by profession,45-54 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,37,27,Developer Experience,NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN
3,4,I am learning to code,18-24 years old,NaN,Apples,NaN,Some college/university,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,4,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Canada,NaN
4,5,I am a developer by profession,18-24 years old,NaN,Apples,NaN,Secondary school,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,9,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Norway,NaN

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [14]:
## Write your code here

# Identify columns with missing values
missing_values = df.isnull().sum()

# Sort the missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Display the columns with the highest number of missing values
print("Columns with the highest number of missing values:")
print(missing_values_sorted.head(10))  # Display the top 10 columns (adjust as needed)

Columns with the highest number of missing values:
AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [15]:
## Write your code here

# Impute missing values in 'ConvertedCompYearly' with the median
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'].fillna(median_comp, inplace=True)

# Verify the imputation
print(f"Number of missing values in 'ConvertedCompYearly' after imputation: {df['ConvertedCompYearly'].isnull().sum()}")

# Example: Impute missing values in another numerical column with the mean (if applicable)
# Assuming 'WorkWeekHrs' is a numerical column with missing values
if 'WorkWeekHrs' in df.columns and pd.api.types.is_numeric_dtype(df['WorkWeekHrs']):
    mean_workweek = df['WorkWeekHrs'].mean()
    df['WorkWeekHrs'].fillna(mean_workweek, inplace=True)
    print(f"Number of missing values in 'WorkWeekHrs' after imputation: {df['WorkWeekHrs'].isnull().sum()}")
else:
    print("WorkWeekHrs column not found, or not numeric. Skipping mean imputation.")

Number of missing values in 'ConvertedCompYearly' after imputation: 0
WorkWeekHrs column not found, or not numeric. Skipping mean imputation.

/tmp/ipykernel_1544/3751673557.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(median_comp, inplace=True)

In [16]:
# Solution 1: Assign the Result Back to the Column (Recommended)

# Impute missing values in 'ConvertedCompYearly' with the median
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_comp)  # Assign the result back

# Verify the imputation
print(f"Number of missing values in 'ConvertedCompYearly' after imputation: {df['ConvertedCompYearly'].isnull().sum()}")

# Example: Impute missing values in another numerical column with the mean (if applicable)
if 'WorkWeekHrs' in df.columns and pd.api.types.is_numeric_dtype(df['WorkWeekHrs']):
    mean_workweek = df['WorkWeekHrs'].mean()
    df['WorkWeekHrs'] = df['WorkWeekHrs'].fillna(mean_workweek)  # Assign the result back
    print(f"Number of missing values in 'WorkWeekHrs' after imputation: {df['WorkWeekHrs'].isnull().sum()}")
else:
    print("WorkWeekHrs column not found, or not numeric. Skipping mean imputation.")

Number of missing values in 'ConvertedCompYearly' after imputation: 0
WorkWeekHrs column not found, or not numeric. Skipping mean imputation.

In [17]:
# Solution 2: Use df.fillna({col: value}, inplace=True) (Less Common)

# Impute missing values in 'ConvertedCompYearly' with the median
median_comp = df['ConvertedCompYearly'].median()
df.fillna({'ConvertedCompYearly': median_comp}, inplace=True)  # Using the dictionary approach

# Verify the imputation
print(f"Number of missing values in 'ConvertedCompYearly' after imputation: {df['ConvertedCompYearly'].isnull().sum()}")

# Example: Impute missing values in another numerical column with the mean (if applicable)
if 'WorkWeekHrs' in df.columns and pd.api.types.is_numeric_dtype(df['WorkWeekHrs']):
    mean_workweek = df['WorkWeekHrs'].mean()
    df.fillna({'WorkWeekHrs': mean_workweek}, inplace=True)
    print(f"Number of missing values in 'WorkWeekHrs' after imputation: {df['WorkWeekHrs'].isnull().sum()}")
else:
    print("WorkWeekHrs column not found, or not numeric. Skipping mean imputation.")

Number of missing values in 'ConvertedCompYearly' after imputation: 0
WorkWeekHrs column not found, or not numeric. Skipping mean imputation.

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [18]:
## Write your code here

# Impute missing values in 'RemoteWork' with the most frequent value
if 'RemoteWork' in df.columns:
    most_frequent_remote = df['RemoteWork'].mode()[0]
    df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_remote)

    # Verify the imputation
    print(f"Number of missing values in 'RemoteWork' after imputation: {df['RemoteWork'].isnull().sum()}")
else:
    print("RemoteWork column not found.")

# Example: Impute missing values in another categorical column (if applicable)
# Assuming 'EdLevel' is a categorical column with missing values
if 'EdLevel' in df.columns:
    most_frequent_edlevel = df['EdLevel'].mode()[0]
    df['EdLevel'] = df['EdLevel'].fillna(most_frequent_edlevel)

    # Verify the imputation
    print(f"Number of missing values in 'EdLevel' after imputation: {df['EdLevel'].isnull().sum()}")
else:
    print("EdLevel column not found.")

Number of missing values in 'RemoteWork' after imputation: 0
Number of missing values in 'EdLevel' after imputation: 0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [19]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [20]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [21]:
## Write your code here

# Handle missing values in 'ConvertedCompYearly' (replace with median)
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_comp)

# Apply Min-Max Scaling to 'ConvertedCompYearly'
scaler = MinMaxScaler()
df['ConvertedCompYearly_Normalized'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Display the normalized column (first few rows)
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Normalized']].head())

# Optionally, check the min and max of the normalized column
print(f"\nMin of NormalizedCompYearly: {df['ConvertedCompYearly_Normalized'].min()}")
print(f"Max of NormalizedCompYearly: {df['ConvertedCompYearly_Normalized'].max()}")

   ConvertedCompYearly  ConvertedCompYearly_Normalized
0              65000.0                        0.003998
1              65000.0                        0.003998
2              65000.0                        0.003998
3              65000.0                        0.003998
4              65000.0                        0.003998

Min of NormalizedCompYearly: 0.0
Max of NormalizedCompYearly: 1.0

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [22]:
import pandas as pd
import numpy as np

In [23]:
## Write your code here

# Handle missing values in 'ConvertedCompYearly' (replace with median)
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_comp)

# Apply log transformation to 'ConvertedCompYearly'
# Add a small constant to avoid log(0) errors
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)

# Display the transformed column (first few rows)
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [24]:
## Write your code here

# Function to categorize experience level
def categorize_experience(years):
    if pd.isnull(years):
        return 'Unknown'
    try:
        years = float(years)
        if years < 2:
            return 'Junior'
        elif years < 5:
            return 'Intermediate'
        else:
            return 'Senior'
    except ValueError:
        return 'Unknown'  # Handle non-numeric entries

# Create the ExperienceLevel column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Display the new column and 'YearsCodePro'
print(df[['YearsCodePro', 'ExperienceLevel']].head(10))

# Optionally, check the counts of each category
print("\nExperience Level Counts:")
print(df['ExperienceLevel'].value_counts())

  YearsCodePro ExperienceLevel
0          NaN         Unknown
1           17          Senior
2           27          Senior
3          NaN         Unknown
4          NaN         Unknown
5          NaN         Unknown
6            7          Senior
7          NaN         Unknown
8          NaN         Unknown
9           11          Senior

Experience Level Counts:
ExperienceLevel
Senior          34589
Unknown         16733
Intermediate    11476
Junior           2639
Name: count, dtype: int64

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.